.input {
  padding: 0;
  position: relative;
  box-sizing: border-box;
  outline: none;
  width: 328px;
  height: 56px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;

  > input {
    box-sizing: border-box;
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 16px;
  }

  &_active {
    border: 2px solid var(--primary);
  }

  &_error {
    border-color: var(--red);
  }

  &_icon {
    > input {
      padding: 16px 50px 16px 16px;
    }
  }
}

.errorText {
  color: var(--red);
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 12px;
  line-height: 16px;
}

.helperText {
  position: absolute;
  color: var(--ultra-light-gray);
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 300ms;

  &_focus {
    color: var(--primary);
  }

  &_minimize {
    top: 0;
    transform: translate(0, -60%);
    background-color: var(--white);
    padding: 3px;
    font-size: 12px;
    line-height: 16px;
  }

  &_error {
    color: var(--red);
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 21px;
  transform: translate(0, -50%);
  cursor: pointer;
  
  > svg {
    color: red;
  }
}

